services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: fis
      POSTGRES_USER: fis
      POSTGRES_PASSWORD: fis
    ports:
      - "5432:5432"

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.118.0
    command: ["--config=/etc/otel/config.yaml"]
    volumes:
      - ./deploy/otel/config.yaml:/etc/otel/config.yaml:ro
    ports:
      - "4317:4317"
      - "4318:4318"

  fis-process:
    build: .
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - otel-collector
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/fis
      DB_USERNAME: fis
      DB_PASSWORD: fis
      DB_DRIVER: org.postgresql.Driver
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: guest
      RABBITMQ_PASSWORD: guest
      MANAGEMENT_OTLP_METRICS_EXPORT_URL: http://otel-collector:4318/v1/metrics
      FIS_SECURITY_ENABLED: true
      FIS_JWT_PUBLIC_KEY_PEM: |
        -----BEGIN PUBLIC KEY-----
        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoK3S3rHoBsCGf7EZbzz6
        agAkG9i7rUEZQxU2BtGVvRZfKXvN7+f3bAymxws7dlkj3KCIYlx5ABy9G88ZT1y9
        5NMwpNeaIPO1+iszzSHCsQJzdzBh96J64VAZ14nES+495HTaSq6qJhfA5k3SFQ0e
        09jxt8xKHdQ3HxW7s9MIWVmuMVGmwTUlBWYEOuKKBzv77IVGL2Vaa2S8GiNuuQ5M
        AsuL03O4kCQnirTQd/c0IXXQpYXjtOzqhWSMogdUcTDJEBdK5lRDBNxXjc+ETLGU
        +FBG6PU3TGT37iV9FU/vD5ZEqOR0PgQad1yw9fwguEo39/jbkDCB/6Gt5FfpvIqm
        5QIDAQAB
        -----END PUBLIC KEY-----
      SERVER_SSL_ENABLED: false
      RABBITMQ_SSL_ENABLED: false
      REDIS_SSL_ENABLED: false
    ports:
      - "8080:8080"
