apiVersion: apps/v1
kind: Deployment
metadata:
  name: fis-process
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fis-process
  template:
    metadata:
      labels:
        app: fis-process
    spec:
      containers:
        - name: fis-process
          image: fis-process:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: fis-process-config
            - secretRef:
                name: fis-process-secret
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "2"
              memory: "2Gi"
