apiVersion: v1
kind: Secret
metadata:
  name: fis-process-secret
type: Opaque
stringData:
  DB_USERNAME: fis
  DB_PASSWORD: fis
  FIS_JWT_PUBLIC_KEY_PEM: |
    -----BEGIN PUBLIC KEY-----
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoK3S3rHoBsCGf7EZbzz6
    agAkG9i7rUEZQxU2BtGVvRZfKXvN7+f3bAymxws7dlkj3KCIYlx5ABy9G88ZT1y9
    5NMwpNeaIPO1+iszzSHCsQJzdzBh96J64VAZ14nES+495HTaSq6qJhfA5k3SFQ0e
    09jxt8xKHdQ3HxW7s9MIWVmuMVGmwTUlBWYEOuKKBzv77IVGL2Vaa2S8GiNuuQ5M
    AsuL03O4kCQnirTQd/c0IXXQpYXjtOzqhWSMogdUcTDJEBdK5lRDBNxXjc+ETLGU
    +FBG6PU3TGT37iV9FU/vD5ZEqOR0PgQad1yw9fwguEo39/jbkDCB/6Gt5FfpvIqm
    5QIDAQAB
    -----END PUBLIC KEY-----
